/* Aplicando a fonte importada */
body {
    font-family: 'Poppins', sans-serif; /* Alternativa semelhante */
    margin: 0;
    padding: 0;
    background: #f4f4f4;
    color: #333;
}

/* Estilo para H1 e H2 */
h1, h2 {
    font-family: 'Poppins', sans-serif; /* Mantém a mesma fonte para uniformidade */
    font-weight: bold;
}
header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px 20px;
}

.header-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header-content .logo img {
    width: 50px;
    height: 50px;
    margin-bottom: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    display: flex;
    align-items: center;
}

nav ul li a i {
    margin-right: 5px;
}

section {
    padding: 20px;
    margin: 20px auto;
    max-width: 800px;
    background: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.projeto {
    margin-bottom: 20px;
}

.projeto img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 10px;
}

.whatsapp-button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    background-color: #25D366;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.whatsapp-button i {
    margin-right: 8px;
    font-size: 20px;
}

.whatsapp-button:hover {
    background-color: #1da851;
}

section {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

section.animate {
    opacity: 1;
    transform: translateY(0);
}

@media (max-width: 768px) {
    .header-content {
        text-align: center;
    }

    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .projeto img {
        width: 100%;
        height: auto;
    }
}
